-# %a(ui-sref="user({id: user.id})") back
.second__header
  %h2.main__header
    %span {{$ctrl.question.date | date}}&nbsp;&middot;&nbsp;
    {{$ctrl.question.title}}
%ul.answers__list
  %li.answers__list--item(ng-repeat="answer in $ctrl.question.answer")
    %div
      {{answer.content}}&nbsp;

      %p.text-right
        %small.answers__list--item-name by {{answer.name}}&nbsp;&middot;&nbsp;
          %b {{answer.date | date }}
      %button.button-main(ng-click="showDiv = !showDiv") more
    %div(ng-show="showDiv")
      %span rating/likes/other actions
