.header__container
  %ul.header__menu
    %li.header__menu--item
      %a.header__menu--item-link(ui-sref="home") home
    %li.header__menu--item
      %a.header__menu--item-link(ui-sref="list") users list
