%h2.main__header Recent questions
%ul
  %li(ng-repeat="question in $ctrl.questions | orderBy: 'date':true | limitTo: 5" )
    %a(ui-sref="question({id:question.id})")

      %p
        %b {{ question.date | date }}&nbsp;
        %span {{question.title}}
