body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.show-btn {
  background-color: $color-default;
  border: none;
  text-decoration: underline;
  color: $color-link;
  padding: 0;
  &:focus {
    outline: none;
    border: none;
  }
}
button {
  transition: 0.3s;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}

.button-main {
  background-color: $main-red;
  padding: 5px 10px;
  border: none;
  color: $color-default;
  text-transform: uppercase;

  &:hover {
    background-color: #E54478;
    transition: 0.3s;
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 0 10px;
}

a {
  color: $color-link;
}

.main__header {
  color: $main-red;
  display: inline-block;
  margin: 0;
}
