!!!
%html
  %head
    %title Ask me
    %link(rel="stylesheet" href="/application.css")
    %meta(content="width=device-width, initial-scale=1" name="viewport")
  %body(ng-app="AskMe")
    %base(href="/")
    %ui-view


    %script(src="bower.js")
    %script(src="templates.js")
    %script(src="application.js")
