!!!
%html
  %head
    %title Ask me
    %link(rel="stylesheet" href="/application.css")
    %link(href = "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel = "stylesheet" type = "text/css")
    %meta(content="width=device-width, initial-scale=1" name="viewport")
  %body(ng-app="AskMe")
    %base(href="/")
    %header
    .container
      %ui-view

    %script(src="bower.js")
    %script(src="templates.js")
    %script(src="application.js")
